<div class="container">
    <div class="row">
        <div class="col"></div>
        <h1>{{bank}}</h1>
        <div class="col mt-5" style="background-color: burlywood;border: 2px solid black; ">
            <h3 style="text-align: center;">Login</h3>
            <form [formGroup]="loginForm" (ngSubmit)="login()">



                <div class="mb-5">
                    <label for="exampleInputPassword1">Username</label>
                    <input type="text" class="form-control" id="acnt" name="accno" formControlName="accno" placeholder="Account no"
                        aria-label="recipient username" aria-describedby="basic-addon2">

                </div>
                <div *ngIf="(this.loginForm.get('accno')?.touched || this.loginForm.get('accno')?.dirty) && this.loginForm.get('accno')?.errors"
                class="error" style="color: red;">Invalid Account Number</div>
                <div class="mb-3">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="pswd" name="pw" formControlName="pw" placeholder="password"
                        aria-label="recipient username" aria-describedby="basic-addon2">
                </div>
                <div *ngIf="(this.loginForm.get('pw')?.touched || this.loginForm.get('pw')?.dirty) && this.loginForm.get('pw')?.errors"
                class="error" style="color: red;">Invalid password</div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary ml-2">Login</button>
                </div>
                <a routerLink="register">Sign Up</a>
            </form>


        </div>
        <div class="col"></div>

    </div>

</div>